:root {
  --primary-color: #434455;
  --tittle-test-color: #2e2f42;
  --hover-focus-color: #5358bd;
  --acent-color: #4d5ae5;
  --alternative-text-color: #f4f4fd;
  --white-text: #ffffff;
  --buttons-hover: #404bbf;
  --buttons-bg-color: #f4f4fd;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* ---------------------------------------- */
.page-header {
  background-color: #ccc;
  padding-top: 24px;
  padding-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin-left: auto;
  margin-right: auto;

  width: 1158px;
  outline: 2px solid red;
}
/* --------------------------------------------- */

/* common----------------------------------------*/
.link {
  text-decoration: none;
}
.list {
  margin-top: auto;
  margin-bottom: auto;

  list-style: none;
  text-decoration: none;
}

img {
  display: block;
}
/* common ----------------------------------------*/

/* header ----------------------------------------*/
.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo:hover {
  cursor: pointer;
  color: #4d5ae5;
}
.logo:focus {
  color: #4d5ae5;
}

.studio {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  transition: background-color 0.15s, color 0.15s;
  color: #2e2f42;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .linka.link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* photo 4 section */

.li-class {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
}

/* .li-class:first-child {
  margin-left: 156px;
  margin-right: 12px;
}
.li-class:last-child {
  margin-right: 156px;
  margin-left: 12px;
} */

.linka {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.linka:hover {
  color: #404bbf;
}
.linka:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contact {
  color: #434455;
  font-style: normal;
}
.contact:hover {
  color: #404bbf;
  cursor: pointer;
}
.contact:focus {
  color: #404bbf;
}
/* header --------------------------------------------*/

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  background-color: #2e2f42;
}

.hero-tittle {
  margin-top: auto;
  margin-bottom: 48px;

  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.our-team {
  background-color: #f4f4fd;

  padding-top: 120px;
  padding-bottom: 120px;
}
.section {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-tittle {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;

  margin-top: auto;
  margin-bottom: auto;
}
.section-subheading {
  background-color: #ffffff;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;

  margin-top: auto;
  margin-bottom: auto;
}
.text {
  margin-top: auto;
  margin-bottom: auto;

  font-size: 16px;
  color: #434455;
}

.li-class {
  background-color: #ffffff;
}

/* buttons ---------------------------------------*/
.buttons {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px 24px;

  cursor: pointer;
  background-color: #f4f4fd;
  color: #4d5ae5;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;

  text-align: center;
}
.buttons:hover {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.buttons:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.buttons.btn-portfolio {
  border-color: #e7e9fc;
}

.buttons.btn-hero {
  display: inline-block;
  padding: 16px 32px;

  border-radius: 4px;
  min-width: 169px;
  text-align: center;

  background: #4d5ae5;
  color: #ffffff;
}
.buttons.btn-hero:hover {
  cursor: pointer;
  background-color: #404bbf;
}
.buttons.btn-hero:focus {
  background-color: #404bbf;
}
.buttons.btn-hero:active {
  background-color: #404bbf;
}

/* footer -----------------------------------------------*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #2e2f42;
}
.studio-footer {
  color: #f4f4fd;
}
.footer-logo {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footer-logo:hover {
  color: #4d5ae5;
}
.footer-logo:focus {
  color: #4d5ae5;
}
.footer-text {
  margin-top: auto;
  margin-bottom: auto;

  color: #f4f4fd;
}
/* footer -----------------------------------------------*/
